<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Linea blanca</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="img/lavadora.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="/css/clientes.css">
        <link rel="stylesheet" href="/css/mediaquery.css">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top gg" id="mainNav" style='background:rgb(0,0,0);'>
            <div class="container">
                <a class="navbar-brand" href="/">Linea Blanca</a>
               
               
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#productosH2">Producto</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Salir</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="masthead-subheading">Bienvenidos a nuestra Tienda Linea Blanca</div>
                <div class="masthead-heading text-uppercase">Lo mejor para tu Hogar</div>
               
                <div class="container">
                <input type="search" id="buscarPrincipal" placeholder="Buscar Producto..." >
                <div class="btn">
                <i class="fa fa-search" onclick="buscarProductos()" ></i>
                </div>
               </div>






                <!--<div class="row input-group-newsletter">
                    <div class="col">

                        <input class="form-control" id="buscarPrincipal" type="search" placeholder="Buscar Producto..." aria-label="Buscar Producto..."/>
                    </div>

                    <div class="col-auto" >
                        <button id='botonP' onclick="buscarProductos()" >Buscar</button>
                    </div>

                </div>--> 
            </div>
            
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">SERVICIOS</h2>
                    <h3 class="section-subheading text-muted">Asegurate de tener los mejores productos</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Comercio electronico</h4>
                        <p class="text-muted">Contamos con una interaccion facil y sencilla al momento de realizar tus compras</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Diseño de respuestas</h4>
                        <p class="text-muted">Mediante nuestra tienda virtual obtendras respuestas inmediatas de la peticion de los productos que ofrecemos </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3 ">Seguridad web</h4>
                        <p class="text-muted">La seguridad es lo primero por eso nos caracterizamos que somos una tienda online de alta seguridad y efectividad</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Callout-->
        <section  class="callout">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mx-auto mb-5">
                    Con Variedad
                    <em>para</em>
                    tu Hogar!
                </h2>
                <a class="btn btn-primary btn-xl" href="#productosH2" >Ver más!</a>
            </div>
        </section>
            
              
                  
                    <section class="py-5">
                        <h2 class="section-heading text-uppercase" id='productosH2'>PRODUCTOS</h2>
                    <div class="container my-5">
                        <div class="row justify-content-center">
        
                             <button id='botonCuadricula' style='width:5vw;background:transparent;margin-left:98%;border:none' onClick="cuadricula()"><img src="/img/menu.png" style='width:100%;border:none'></button>

                            <div class='product' id='listaDeProductos'>
                            
                            <%for(let x = 0;x < producto.length;x++){%>
                             
                            <div class='productooo'>
                             
                                 <img src="<%= producto[x].imagen_url %>" class='imagen' id='imagenSelector'>
                                 <br>
        
                                   <div id='NPB'>
                                     
                                     <div style='display:flex;flex-direction: column;justify-content:center;align-items:center'>
                            <strong><p>Nombre:</strong><%= producto[x].nombre %></p>
                            <strong><p>Precio: </strong><span style='color:green'><%= producto[x].precio %> $</span></p>
        
                                     </div>
        
                                     <div id='comprarDetalles'>

                                        <a href="/comprar/<%=producto[x].producto_id%>"><img src="/img/carrito.png" width='35'></a>
            
                                        <a href="/detalles/<%=producto[x].producto_id%>" style='margin-top:7px;margin-left:8px;'><img src="/img/img.png" width="35"></a> 
            
                                    </div>
            
        
                                   </div>
        
                            </div>
                            <% } %>
                        <!-------------------->
                               <table class='table'>

                        <thead>
                            <tr style='border:1px solid black'>
                                
                                <th class='column'>Imagen</th>
                                <th class='column'>Nombre</th>
                                <th class='column'>Codigo</th>
                                <th class='column'>Precio</th>
                                <th class='column'>Descripcion</th>
                                <th class='column'>Calidad</th>
                                <th class='column'>Cantidad</th>
                                <th class='column'>Categoria</th>
                                <th class='column'>Opciones</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                        <%for(let u = 0;u < producto.length;u++){%>
                         <tr class='tr' style='border:1px solid rgb(202, 152, 45); border-radius: 150%'><!--ul-->
                            <!--li-->
                            <td class='column'><img src="<%= producto[u].imagen_url %>" style='width:100%;height:17vh'></td>
                             <td class='column'><%= producto[u].nombre %></td>
                             <td class='column'><%= producto[u].codigo %></td>
                             <td class='column'><%= producto[u].precio %></td>
                             <td class='column'><%= producto[u].descripcion %></td>
                             <td class='column'><%= producto[u].calidad %></td>
                             <td class='column'><%= producto[u].cantidad %></td>
                             <td class='column'><%= producto[u].categoria_id %></td>
                            
                             <td>

                                <a href="/comprar/<%=producto[u].producto_id%>"><img src="/img/carrito.png" width='35'></a>
    
                                <a href="/detalles/<%=producto[u].producto_id%>" style='margin-top:7px;margin-left:8px;'><img src="/img/img.png" width="35"></a> 
                            </td>
                            
                         </tr> 
                         <% } %>
                        </tbody>
                         </table>
                           <%for(let l = 0 ; l < producto.length; l++){%>
                        <ul class='ULtabla3'>
                            <li class='LItabla3'><img src="<%= producto[l].imagen_url %>" style='width:40%;'></li>
                            <li class='LItabla3'><span>Nombre: </span><span><%= producto[l].nombre %></span></li>
                            <li class='LItabla3'><span>Codigo: </span><span><%= producto[l].codigo %></span> </li>
                            <li class='LItabla3'><span>Precio: </span><span><%= producto[l].precio %></span> </li>
                            <li class='LItabla3'><span>Descripcion: </span><span><%= producto[l].descripcion %></span></li>
                            <li class='LItabla3'><span>Calidad </span><span><%= producto[l].calidad %></span></li>
                            <li class='LItabla3'><span>Cantidad: </span><span><%= producto[l].cantidad %></span></li>
                            <li class='LItabla3'><span>Categoria: </span><span><%= producto[l]. categoria_id %></span></li>
                        <li class="LItabla3">
                            <div style='display:flex;justify-content:center;align-items:center;width:20%;'>
                                <a href="/comprar/<%=producto[l].producto_id%>"><img src="/img/carrito.png" width='30'></a>
                            </div>
                            <div style='display:flex;justify-content:center;align-items:center;width:26%;'>
                               <a href="/detalles/<%=producto[l].producto_id%>" style='margin-top:7px;margin-left:8px;'><img src="/img/img.png" style='width:100%;'></a>
                           </div>
                        </li>
                        </ul>


                        <% } %>
                            </div>
                           
                        </div>
                    </div>
                </section>


                        
        </section>
        <script src="http://localhost:3000/socket.io/socket.io.js"></script>
        <!-- Core theme JS-->
        <script src="/js/script.js"></script>
        
        <script type="text/javascript">
            // Conectar con el servidor Socket.IO
            const socket = io(); // Reemplaza con la URL de tu 
            let compuerta = true;
        
          
        
        
         socket.on('connect',()=>{
           
           console.log('Usuario conectado desde el cliente');
        
            fetch('/transaction')
           .then(response=>response.json())
           .then(res=>{
            
            if(typeof res !== 'undefined'){
        
                if(confirm(`Message:${res.transaction.message}
        Numero de transaction: ${res.transaction.data.transaction_id}
        Fecha : ${res.transaction.data.date}
        Referencia : ${res.transaction.data.reference}
        Moneda : ${res.transaction.data.currency}
        Amount : ${res.transaction.data.amount}
        `)){
                 fetch('/eliminarTransaction')
                 .then(res=> res.json())
                 .then(response=>{
                    console.log(`Message : ${response.message}`);
                 });
                }else{
                 fetch('/eliminarTransaction')
                 .then(res=> res.json())
                 .then(response=>{
                    console.log(`Message : ${response.message}`);
                 });
                }
            }else{
                console.log('No se recibio transaction');
            }
           })
        
            socket.on('mensajeServer',(data)=>{
            
            console.log(`Mensaje recibido del server: ${data}`);
        
            
        
            })
        
          })
        </script>
        <!-- Core theme JS-->
        <script src="/js/script.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * -->
            
                </body>
            </html>