<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Comprar</title>
	<link rel="stylesheet" href="/css/comprar.css">
	<link rel="icon" type="image/x-icon" href="img/lavadora.png" />
</head>
<body>
	<header>
		<h1>Linea Blanca </h1>
		<nav>
		  <ul>
			
			<li class="nav-item"><a class="nav-link" href="/clientes">Volver</a></li>
			
		  </ul>
		</nav>
	   </header>
	   <h1>¿<span>Esta seguro que desea realizar la compra</span>?</h1>
	   <form >

		

		<p>Nombre</p>
		<input type="text" name="nombre_de_usuario" value='<%= resultado.nombre_usuario%>' class="field" readonly><br>
		
	
		
		
		<p>Apellido</p>
		<input type="text" name="apellido"  value="<%= resultado.apellido%>" class="field"readonly><br>
	
	
		
		<p>Cédula</p>	
		<input type="number" name="cedula" value='<%=ip.cedula%>' class="field"  readonly><br>
	
	
		
			<p>Telefono</p>
			<input type="text" name="telefono" value='<%= resultado.nombre%>'  class="field" readonly><br>
	
		
		 
		 <p>cliente_id</p>
		 <input type="number" name="cliente_id" value='<%= resultado.id%>'  class="field"  readonly><br>
		 
	
		<p>Producto_id</p>
		<input type="number" name="producto_id" value='<%= resultado.producto_id%>' class="field" readonly><br>
		
	
		
		
		<p>Cantidad</p>
		<input type="number" name="cantidad" value='1' class="field" id='cantidad'><br>
		
		
		
		<p>Total a Pagar</p>
		<input type="number" name="total_pagado" value='<%= resultado.precio%>'  id='Total_pagado' class="field" readonly><br>
		
	
		
	   <p> Codigo de Operacion</p>
		<input type="number" name="codigo" value="<%=resultado.codigo%>" class="field" readonly><br>
		
	
		
			<p> Numero de Tarjeta</p>
			<select name='numeroT' required>
				<option value=""></option>
				<option value='4111111111111111'>4111111111111111</option>
				<option value='5555555555554444'>5555555555554444</option>
				<option value='378282246310005'>378282246310005</option>
				<option value='6011111111111117'>6011111111111117</option>
				<option value='3530111333300000'>3530111333300000</option>
				<option value='30569309025904'>30569309025904</option>
			</select>
		
	
		
			<p>Mes de vencimiento</p>
			<input type="number" name="mesV" min="1" max="12" step="1" placeholder="mes" class="field" required><br>
	
	
		
		 <p>Año de vencimiento</p>
		 <input type="number" min="1900" max="2099" step="1" placeholder="Año" name="year" class="field" required><br>
	 
	
		
		<p>Metodo de pago</p>
		<select name='currency'>
			<option></option>
			<option value="USD">USD</option>
			<option value="EUR">EUR</option>
			<option value="VES">VES</option>
		</select>
	   
	
		
		<p>Descripción</p>
		<input type="text" name="descripcion" value='<%=resultado.descripcion%>' class="field" readonly><br>
	   
	
		
		
		<p>Dirección IP</p>
		<input type="text" name="ip_cliente" class="field" value='<%= ip.ipAddress%>'  readonly><br>
	   
	
	
		
			<p>Cvv</p>
			<input type="number" name="cvv" placeholder="clave" min="1" max="999" step="1" id='clave' class="field" required><br>
		
		
		
	<br>
	<br>
		<div id='confirmarCancelar'>
			<p class="center-content">
		<input type="submit" class="btn btn-green" value="Confirmar">
	</p>
		
		</div>
		
	
		<p class="center-content">
		<input type="button" class="btn btn-green" style="background-color: rgb(199, 47, 47); " value="Cancelar" onclick="redireccionar()">
	</p>
	
	
		
	</form>





<script type="text/javascript">

	function redireccionar(){
		window.location.href='/clientes';
	}

	let clave = document.getElementById('clave');
	clave.addEventListener('input',()=>{
		if(clave.value > 999){
			clave.value=999;
		}
	})


	let cantidad = document.getElementById('cantidad');

	let total_pagado = document.getElementById('Total_pagado');

    const valorInicial = total_pagado.value;

	cantidad.addEventListener('input',function(){
		if(cantidad.value < 1){
		cantidad.value=1;
	}
         total_pagado.value = cantidad.value * valorInicial;
	});
</script>
</body>
</html>


	




