<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/update.css">
    <link rel="icon" type="image/x-icon" href="img/lavadora.png" />
</head>

    <body>
        <header>
            <h1>Linea Blanca Express</h1>
            <nav>
              <ul>
                <li><a href="/productos">Volver </a></li>
                
                
              </ul>
            </nav>
           </header>
        
        <main class="forms"> 
         <h1 id="crear">Agregar Usuario</h1>
        
        
        <form action="/updateUser/<%=modelo.id%>" method="post">
            <div id="editorcentrall">
            
            <input type="text" name="nombre" placeholder="Nombre" required="required" value="<%=modelo.nombre%>">
        
            <input type="text" name="apellido" placeholder="Apellido" required="required" value='<%=modelo.apellido%>'>
        
           
            <input type="number" name="cedula" placeholder="Cédula" required="required"value="<%=modelo.cedula%>">
        
            
            <input type="email" name="correo" placeholder="Email" required="required" value="<%=modelo.correo%>">
        
            <input type="password" name="password" placeholder="Contraseña" required="required" value="<%=modelo.password%>">
        
            <div style='display:flex;' id='selectinput'>
                <input type="submit" value='update'>
                <input type="button" value='cancelar' onclick="volver()">
            </div>
        </div>
        </form>
        <script type="text/javascript">
            function volver(){
                window.location.href='/usuarios';
            }
        </script>
        </main>
        </body>

</html>